body {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(20, 1fr);
    overflow: scroll;
}

#search{
    grid-column: 1/5;
    grid-row: 1/2;
    height: 50px;
    appearance: none;
    background: white;
    border-radius: 15px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    border-left: solid black 2px;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
}

#searchbutton {
    grid-column: 5/6;
    appearance: none;
    background: white;
    border-radius: 15px;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    border-right: solid black 2px;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: skyblue;
}

#searchbutton:hover {
    filter: brightness(0.90);
}

.citycondition {
    grid-column: 2/5;
    grid-row: 2/3;
    text-align: center;
}

.currentgroup {
    margin-top: 10px; 
}

.condition {
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
}


.temp {
    grid-row: 3/4;
    grid-column: 3/4;
    text-align: center;
}

.feelslike {
    grid-row: 3/4;
    grid-column: 4/5;
    text-align: center;
}


.date {
    text-align: center;
}

.time {
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
}


.wind {
    grid-column: 3/4;
    grid-row: 4/5;
    text-align: center;
}

.gust {
    grid-column: 4/5;
    grid-row: 4/5;
    text-align: center;
}


.conditionicon {
    grid-row: 2/3;
    grid-column: 4/5;
    align-self: center;
    justify-self: end;
}

.currentgroup {
    grid-column: 1/-1;
    border-radius: 15px;
}

.forecastgroup1 {
    align-items: center;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-column: 2/3;
    margin-top: 10px;
    margin-right: 10px;
}

.forecastgroup2 {
    align-items: center;
    display: grid;
    justify-content: center;
    text-align: center;   
    grid-column: 3/4;
    margin-top: 10px; 
}

.forecastgroup3 {
    align-items: center;
    display: grid;
    justify-content: center;
    text-align: center;   
    grid-column: 4/5;
    margin-top: 10px; 
    margin-left: 10px;
}

.forecasticon {
    justify-self: center;
}
